
*.xcuserstate
xcuserdata/
*.xcbkptlist

*.pbxuser
!default.pbxuser

*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

Pods
Podfile.lock

fastlane/report.xml
fastlane/screenshots

*.hmap
*.ipa
*.DS_Store